@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

:root {
  --ff-main: "Inter", "Helvetica", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--ff-main);
}

a{
  color: #0e0e0e;
}

.burgerMain {
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  /* visibility: hidden; */
  display: none;
}

.divUnderBurget {
  visibility: hidden;
  color: green;
  position: fixed;
  width: 50%;
  height: 200px;
  text-align: center;
  position: absolute;
  left:45%;
  top:130px;
  z-index: 2;
}

.divUnderBurget > ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 4;
  background-color: white;
  min-height: 100px;
  box-shadow: 1px 3px 2px 2px blue;
}

.divUnderBurget ul li:hover {
  text-align: center;
  background-color: red;
}

button:hover{
  background-color: grey;
}

.divUnderBurget ul li{
  /* background-color: red; */
  height: 30px;
  display: flex;
  justify-content: center;
}

.ununvisible {
  visibility: visible !important;
  animation: 0.4s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) smooth-appear;
  animation-delay: 0s;
  position: relative;
}

.burger {
  width: 45px;
  height: 4px;
  background: black;
  border-radius: 2px;
}

.container {
  width: 1168px;
  margin: 0 auto;
}

header {
  width: 1366px;
  height: 64px;
}

.menu {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  position: relative;
}

.div_for_anchors {
  margin-left: 206px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 1px;
}

.menu a {
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: #0f2a59;
}

.anchors {
  display: flex;
  width: 335px;
  justify-content: space-between;
  align-items: center;
}

.menu ul > .special_li {
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  width: 154px;
  padding-left: 18px;
}

.languages {
  display: flex;
  align-items: center;
  width: 110px;
  margin-right: 3px;
}

.kg {
  background: #ffffff;
  height: 27px;
  margin-left: 7px;
  border: none;
}

.ru {
  background: #e4f2ff;
  height: 27px;
  margin-left: 16px;
  border: none;
}

.menu ul > li {
  list-style: none;
  display: flex;
  font-family: "Inter";
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #181818;
}

.img_down_of_menu {
  margin-left: 5px;
}

/* ______________________________________________________________________________________________________  */

section {
  width: 1366px;
  height: 568px;
  position: relative;
  background-image: url(./media/darkbackground.svg);
}

.banner {
  height: 100%;
  display: flex;
  /* justify-content: space-around; */
  align-items: flex-end;
}

.heating {
  width: 343px;
  height: 176px;
  margin-bottom: 165px;
  margin-left: 68px;
}

.models {
  width: 645px;
  height: 430px;
  margin-left: 84.09px;
}

.heat {
  width: 343px;
  height: 42px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: #ffffff;
}

.each_heat {
  width: 336px;
  height: 21px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  margin-top: 20px;
}

.to_know_more {
  width: 200px;
  height: 40px;
  border: 1px solid white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 53px;
  background-color: rgba(28, 28, 28, 0);
  cursor: pointer;
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
}

.left_btn {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 48.4%;
  left: 32px;
  background-color: #0e0e0e;
  border: 1px solid #ffffff;
}

.right_btn {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 48.4%;
  right: 32px;
  background-color: #0e0e0e;
  border: 1px solid #ffffff;
}

.dots {
  width: 159px;
  height: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 49%;
  bottom: 28px;
  transform: translate(-50%);
  /* padding-left: 10px; */
}

.active {
  background: #0f2a59;
  border: 2px solid white;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  outline: 2px solid rgba(184, 184, 184, 0.45);
  margin-left: 24px;
}

.dot:nth-child(1) {
  background-color: #0f2a59;
}

/*_______________________________________________________________________________________________________*/

.help {
  height: 130px;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.personal_room {
  width: 368px;
  height: 130px;
  background: #f8f8f8;
  border-left: 5px solid #0F2A59;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 29px;
  position: relative;
  display: flex;
  padding-bottom: 22px;
}

.personal_room_first {
  width: 368px;
  height: 130px;
  background: #f8f8f8;
  border-left: 5px solid #ebebeb;
  padding-left: 15px;
  padding-top: 18px;
  padding-right: 27px;
  position: relative;
  display: flex;
  padding-bottom: 22px;
}

.second_p_of_personal_room {
  margin-top: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.personal_room .p_bolt {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #181818;
  margin-bottom: 8px;
}

/* .personal_room > div {
  position: absolute;
  top: 15px;
} */

.settting {
  width: 90px;
}
.work_folder {
  width: 95px;
}

.personal_room > div p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #181818;
  height: auto;
}

/* .personal_room img {
  display: block;
  margin-left: 230px;
} */

.personal_room:nth-child(1) {
  border-left: 5px solid #ebebeb;
}

/*___________________________________________________________________________________________________________*/

.news {
  height: 480px;
  margin-top: 104px;
}

.world_news {
  width: 470px;
  height: 70px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 28px;
  line-height: 125%;
  color: #200e32;
}

.news_blocks {
  height: 383px;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.meeting {
  width: 568px;
  height: 383px;
  background-color: #181818;
  background-image: url(./media/worker.svg);
  padding: 24px;
  padding-top: 287px;
}

.date {
  width: 100px;
  height: 18px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  color: #ffffff;
}

.meet_big {
  width: 461px;
  height: 50px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 20px;
  line-height: 125%;
  color: #ffffff;
  margin-top: 5px;
}

.meeting_report {
  width: 568px;
  height: 383px;
  display: grid;
  align-content: center;
  grid-template-columns: auto auto;
  column-gap: 32px;
  row-gap: 21px;
}

.report_blokcs {
  width: 268px;
  height: 181px;
  background-color: #0e0e0e;
  padding: 10px;
  padding-top: 118.5px;
}

.date_small {
  width: 79px;
  height: 14px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 11px;
  line-height: 125%;
  color: #ffffff;
}

.meet_small {
  width: 248px;
  height: 36px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 140%;
  color: #ffffff;
  margin-top: 3px;
}

.trubs {
  background-image: url(./media/cilindr.svg);
}

.stuffs {
  background-image: url(./media/workerstwo.svg);
}

.stuff {
  background-image: url(./media/oneworker.svg);
}

.hole {
  background-image: url(./media/inhole.svg);
}

/*__________________________________________________________________________________________________________*/

.history {
  height: 480px;
  margin-top: 69px;
  background-color: #fafafa;
  position: relative;
}

.nature {
  width: 900px;
  height: 100%;
  background-image: url(./media/naturemount.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.how_we_start {
  width: 540px;
  height: 365px;
  position: absolute;
  top: 57px;
  right: 64px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(15px);
  padding: 48px;
}

.how_we_start_3 {
  width: 540px;
  height: 365px;
  position: absolute;
  top: 49px;
  right: 44px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(15px);
  padding: 48px;
}

.how_we_start_2 {
  width: 540px;
  height: 380px;
  position: absolute;
  top: 50px;
  left: 64px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(15px);
  padding: 48px;
}

.big_words {
  font-family: "Inter";
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #181818;
  width: 350px;
}

.small_words {
  width: 444px;
  height: 140px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #b6b6b6;
  margin-top: 12px;
}

.more_details {
  width: 259px;
  height: 41px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #0f2a59;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(15px);
  border: 1px solid black;
  padding: 10px 20px;
  margin-top: 18px;
}

/*__________________________________________________________________________________________________________*/

.purpose {
  height: 480px;
  margin-top: 46px;
  background-color: #fafafa;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

/*__________________________________________________________________________________________________________*/

.introduse {
  height: 480px;
  margin-top: 48px;
  background-color: #fafafa;
  position: relative;
}

.harmfullity {
  width: 800px;
  height: 100%;
  background-image: url(./media/sunseat.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.boil_iron {
  width: 900px;
  height: 100%;
  background-image: url(./media/ironboil.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/*______________________________________________________________________________________________*/

footer {
  width: 1366px;
  height: 530px;
  margin-top: 83px;
  background-color: black;
}

.footer {
  height: 480px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  width: 200px;
  height: 342px;
  background-color: black;
  margin-bottom: 25px;
}

.info > ul {
  display: grid;
  margin-top: 21px;
  row-gap: 18px;
  padding-bottom: 21px;
  border-bottom: 1px solid #262626;
}

.info > ul:last-child {
  padding-top: 5px;
  padding-bottom: 53px;
  padding-left: 3px;
}

.info > ul > li {
  font-family: "Inter";
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #ffffff;
  list-style: none;
  display: flex;
  align-items: center;
}

.info > ul > li a {
  color: #ffffff ;
  text-decoration: none;
}

.info > ul > li > img {
  margin-right: 16.58px;
}

.our_contacts {
  width: 200px;
  height: 29px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.map {
  width: 869px;
  height: 342px;
  background-image: url(./media/map.svg);
  margin-bottom: 26px;
  background-size: contain;
  background-repeat: no-repeat;
}

.smm {
  height: 100px;
}

.geo {
  height: 30px;
}

/*_________________________________________ adaptive 1366 - 992  ______________________________________________*/

@media (max-width: 1366px) {

  .container{
    width: 90%;
  }

  header {
    width: 100%;
  }

  .menu {
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
  }

  .div_for_anchors {
    margin-left: 100px;
  }


  section {
    width: 100%;
    height: 568px;
  }

  .banner {
    height: 90%;
    display: flex;
    align-items: flex-end;
  }

  .heating {
    width: 30%;
    height: 176px;
    margin: 0 auto 165px auto;
  }
  .models {
    width: 50%;
    margin-left:0;
    position: relative;
  }
  .models img{
    position: absolute;
    width:100%;
    bottom: 0;
  }
  section{
    height: auto;
  }


.help {
  height: auto;
  width: 90%;
}

.personal_room{
  height:auto;
  width:30%;
  margin-bottom: 5px;
}

.personal_room_first{
  height:auto;
  width:30%;
  margin-bottom: 5px;
}

.personal_room > div p {
  color: #181818;
  height: auto;
}

.news {
  height: auto;
}


.news_blocks{
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
}

.meeting_report{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
  margin-top: 20px;
  flex-wrap: wrap;
}

.meeting {
  width: 95%;
  height: auto;
  background-color: #181818;
  background-image: url(./media/worker.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 24px;
  padding-top: 287px;
}


footer {
  width: 100%;
  height: 530px;
  display: flex ;
  justify-content: space-around;
  margin-top: 83px;
}

}
/*_________________________________________ adaptive  992 - 768 ______________________________________________*/

@media (max-width: 992px) {
  .heating {
    width: 30%;
    height: 176px;
    margin: 0 auto 165px auto;
  }

  .banner{
    height: 400px;
  }

  .models{
    height: 300px;
    margin-right: 10px;
    width: 55%;
  }
  .heating {
    width: 30%;
    height: 156px;
    margin: 0 auto 65px auto;
  }


.help {
  height: auto;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.personal_room{
  display: flex;
  justify-content: space-between;
  height:auto;
  width:70%;

}

.personal_room_first{
  display: flex;
  justify-content: space-between;
  height:auto;
  width:70%;
}

.harmfullity{
  width:100%;
}

.boil_iron{
  width: 100%;
}
}

/*_________________________________________ adaptive 1025 px  ______________________________________________*/

@media (max-width:1025px) {
  .nature{
    width:100%;
  }
}

/*_________________________________________ adaptive  768 -576px ______________________________________________*/

@media (max-width: 768px) {
  /* header {
    width: 100%;
  } */

  .burgerMain {
    /* visibility: visible; */
    display: block;
    position: absolute;
    right: 20px;
    display: flex;
    justify-content: space-around;
  }


  .div_for_anchors{
    display: none;
  }

  .news{
    width:95%;
  }

  .div_for_anchors {
    margin-left: 10px;
  }

  .banner{
    flex-direction: column;
    height: auto;
    justify-content: space-around;
    align-items: center;
  }

  .heating{
    margin-top: 30px;
    width: 300px;
  }

  .models{
    height: 280px;
    width: 450px;
  }

  .nature{
    height: 650px;
  }

  .history{
    height: 650px;
  }

  .purpose{
    height: 650px;
  }

  .introduse{
    height: 650px;
  }

  .info {
    width: 200px;
    height: 350px;
    margin-top: 20px;
    margin-bottom: 25px;
  }

.news_blocks{
  width: 100%;
}

.world_news {
  width: auto;
  height: auto;
  font-size: 20px;
  margin: 0 auto;
}

.meet_big {
  width: auto;
  height: auto;
  font-size: 20px;
  line-height: 125%;
  margin-top: 5px;
}


  .harmfullity{
    display:flex;
    align-items: center;
  }
  
  .boil_iron{
    display:flex;
    align-items: center;
  }
  .nature{
    display:flex;
    align-items: center;
  }

  .how_we_start{
    margin: 0 auto;
    position:absolute;
    width: 300px;
    height: auto;
  }


  .big_words{
    width:200px;
    font-size: 18px;
  }

  .how_we_start_2{
    width:320px;
    height: auto;
    left:10px;
  }
  

  .how_we_start_3{
    margin: 0 auto;
    position:absolute;
    width:300px;
    height: 500px;
  }

  .small_words{
    width:220px;
    height: auto;
  }

  .more_details{
    width:180px;
  }

  .map {
    width: 100%;
    height: 342px;
    background-image: url(./media/map.svg);
    margin-bottom: 26px;
    background-size: contain;
    background-repeat: no-repeat;

  }

  .footer{
    display: flex;
    flex-direction: column;
    height: auto;
  }

  footer{
    height: auto;
  }

}

/*__________________________________ adaptive 440px - 380px  _____________________________*/


@media (max-width:440px) {
  .models img{
    position: absolute;
    width:320px;
    left:20px
  }

  .divUnderBurget {
    /* visibility: hidden; */
    color: green;
    position: fixed;
    width: 50%;
    height: 200px;
    background-color: red;
    text-align: center;
    position: absolute;
    left:49%;
    top:63px;
    z-index: 2;
  }

  .models{
    height: 280px;
    width: 95%;
  }


  .heating{
    margin-top: 30px;
    width: 200px;
  }

  .each_heat{
    width: auto;
    height: auto;
  }

  .personal_room{
    display: flex;
    justify-content: space-between;
    height:auto;
    width:90%;
  
  }

  .menu{
    padding-right:20px;
    padding-left:20px;
  }
  
  .personal_room_first{
    display: flex;
    justify-content: space-between;
    height:auto;
    width:90%;
  }

  .how_we_start{
    margin: 0 auto;
    position:absolute;
    left: 10px;
    width: 280px;
    height: auto;
    padding:10px
  }



  .how_we_start_2{
    width:280px;
    height: auto;
    left:10px;
    padding: 10px;
  }

  .heat{
    width: 200px;
  }

  

  .how_we_start_3{
    margin: 0 auto;
    position:absolute;
    left: 10px;
    width:280px;
    height: 500px;
    padding: 10px;
  }

  
}

/*__________________________________ adaptive 380px - 310px _____________________________*/

@media (max-width:380px) {

  .models img{
    position: absolute;
    width:300px;
    left:0
  }
  
}

@media (min-width:769px) {
  .divUnderBurget{
    display: none;
  }
  
}